openapi: 3.2.0
info:
  title: Live Content API
  version: '2.0'
servers:
- url: https://cdn.yextapis.com/v2
security:
- api_key: []
- api-key: []
tags:
- name: Content API
paths:
  /accounts/{accountId}/content/{endpoint}/{ids}:
    get:
      operationId: contentGet
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/endpoint'
      - $ref: '#/components/parameters/contentDocIds'
      - $ref: '#/components/parameters/v'
      tags:
      - Content API
      summary: 'Content: Get'
      description: Retrieve records by ID from a Content Endpoint
      responses:
        '200':
          $ref: '#/components/responses/StreamsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{accountId}/content/{endpoint}:
    get:
      operationId: contentList
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/endpoint'
      - $ref: '#/components/parameters/v'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      tags:
      - Content API
      summary: 'Content: List'
      description: 'List records from a Content Endpoint


        Content API provides the ability for a user to filter and sort records

        by the contents of an indexed field.'
      responses:
        '200':
          $ref: '#/components/responses/StreamsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  parameters:
    endpoint:
      name: endpoint
      in: path
      required: true
      schema:
        type: string
      description: The ID of the Content Endpoint to query.
    accountId:
      name: accountId
      in: path
      required: true
      schema:
        type: string
    contentDocIds:
      name: ids
      in: path
      required: true
      schema:
        type: array
        items:
          type: string
      style: simple
      description: 'The Content records to get. Multiple record IDs can be provided separated by commas.

        '
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
        maximum: 50
      description: Number of results to return.
    v:
      name: v
      in: query
      required: true
      schema:
        type: string
      description: A date in `YYYYMMDD` format.
    pageToken:
      name: pageToken
      in: query
      schema:
        type: string
      required: false
      description: 'If a response to a previous request contained the **`nextPageToken`** field, pass that field''s value as the **`pageToken`** parameter to retrieve the next page of data.

        '
  responses:
    ErrorResponse:
      description: Error Response
      content:
        application/json:
          schema:
            title: ErrorResponse
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/ResponseMetaWithError'
              response:
                type: object
    StreamsResponse:
      description: Content Response
      content:
        application/json:
          schema:
            title: ContentResponse
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/ResponseMeta'
              response:
                type: object
                required:
                - count
                properties:
                  count:
                    type: integer
                    description: '

                      Total number of documents that meet the filter criteria.

                      '
                  docs:
                    type: array
                    description: Documents containing the data for the relevant Content Endpoint and request.
                    items:
                      type: object
                  nextPageToken:
                    $ref: '#/components/schemas/NextPageToken'
  schemas:
    ResponseError:
      type: object
      properties:
        name:
          type: string
        code:
          type: integer
          description: 'Code that uniquely identifies the error or warning.

            '
        type:
          type: string
          enum:
          - FATAL_ERROR
          - NON_FATAL_ERROR
          - WARNING
        message:
          type: string
          description: Message explaining the problem.
    ResponseMetaWithError:
      allOf:
      - $ref: '#/components/schemas/ResponseMeta'
      - type: object
        properties:
          errors:
            type: array
            description: List of errors and warnings.
            items:
              $ref: '#/components/schemas/ResponseError'
    ResponseMeta:
      type: object
      properties:
        uuid:
          type: string
          example: 4f72b877-e2d0-4de4-9324-b9cf2c03e1a0
          description: Unique ID for this request / response.
    NextPageToken:
      type: string
      description: "This field is only included if there is an additional page of data to display. To retrieve the next page of data, pass this field's value as the **``pageToken``** parameter in a subsequent request. \n"
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
    api-key:
      type: apiKey
      name: api-key
      in: header
